body#colors {
    background: rgba(41, 76, 119,1);
    color: white;
}

#colors #container {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.007);
}

#box{
    background: gray;
    height: 200px;
    width: 200px;
    margin: 40px auto;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 100px;
}

@keyframes starPluse {
    from { opacity: 10; }
    to { opacity: 0.3; }
}
@keyframes sunFire{
    from { box-shadow: 0 0 50px #f5c91a;}
    to { box-shadow: 0 0 100px #f5c91a;}
}
 @keyframes spin {
     from { transform: rotate(0); }
     to { transform: rotate(360deg); }
 }
html, body{
    height: 100%;
    width: 100%;
}

#universe{
    background: black;
    background: -webkit-radial-gradient(#555, #000);
    background: -moz-radial-gradient(#555, #000);
    background: -o-radial-gradient(#555, #000);
    background: radial-gradient(#555, #000);
}

#stars{
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-image: url('stars.png');

    animation: starPluse 4s infinite alternate;
}

#sun{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 4;

    border-radius: 100%;
    background: orange;

    background: -webkit-radial-gradient(#f5c313, #ec7e08);
    background: -moz-radial-gradient(#f5c313, #ec7e08);
    background: -o-radial-gradient(#f5c313, #ec7e08);
    background: radial-gradient(#f5c313, #ec7e08);
    box-shadow: 0 0 50px #f5c19a;

    animation: sunFire 4s infinite alternate;
}

#earth{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    z-index: 4;
    height: 680px;
    width: 600px;

    border-radius: 100%;
    
    animation: spin 30s linear infinite;
}

#earth1{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -40px;

    animation: spin 10s linear infinite;
}

#moonOrbit{
    
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 4;
    margin-top: -60px;
    top: 50%;
    left: -20px;
    border-radius: 100%;

    animation: spin 8s linear infinite reverse;
}

#moon{
    height: 20px;
    width: 20px;

    background: gray;
    background: radial-gradient(#ddd, #888);

    border-radius: 100%;
}
